<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @leave_structure.name %>
</p>

<%= link_to 'Edit', edit_leave_structure_path(@leave_structure) %> |
<%= link_to 'Back', leave_structures_path %>
